.UserPage {
    background-color: white;
    top:0;
    left:0;
    width:100%;
    min-height: 100vh;
    border: 1px solid black;
    display:grid;
    grid-template:250px auto /200px auto;
    grid-gap:10px;
    /* grid-template-areas:
    "I H H H H H H H"
    "S S C C C C C C"; */
    grid-auto-rows: 200px;
    color:rgb(94, 83, 83);
    
}

.Message{
    position:absolute;
    font-size: 24px;
    height:100vh;
    width:7000px;
    background-color:white ;
    z-index:1000;
    left:0;
}


.ImageCropper{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    position:fixed;
    top:25px;
    left:25px;
    background-color: red;
}
.UserPhoto{
  display: inline;
  margin: 0 auto;
  max-height: 125%;
  width: auto;
  min-width:100%
}

.Header {
    grid-row: 1/2;
    grid-column: 2 /span 7;
    position:fixed;
    left:200px;
    width:100%;
    background-color: white;
    z-index:2
}

.Title {
    font-size: 50px;
    margin-bottom:0;
    font-family: 'Righteous', cursive;
}
.Description{
    margin-top:0;
    font-family: 'Quicksand', sans-serif;
    font-weight:bolder;
}

.ViewName{
    margin-top:70px;
    
}

.ViewTitle{
    font-family: 'Quicksand', sans-serif;
    font-size:32px;
    font-weight: bold;
}

.Sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
    display:grid;
    grid: 75px 75px 75px /150px;
    margin-left:20px;
    align-items: start;
    margin-top:275px;
    position:fixed;
}

.Sidebar button{
    border:none;
    background-color: orangered;
    color:white;
    font-size: 20px;
    border-radius:30px;
    padding:20px;
   
}


.Sidebar button:hover{
    background-color: #91f5f8;
    color:orangered;
}

.Sidebar button:focus{
    outline: none;
    border:none;
}

.Content {
    grid-row: 2/3;
    grid-column:2/3;
}





