.Edit{
    display:grid;
    height:auto;
    min-height:100vh;
    background-color: rgb(235, 226, 240);
    font-size:24px;
    grid-template-rows:100px auto;
    grid-template-columns:  200px auto;
    grid-auto-rows:250px;
}

.Title{
    grid-row:1/2;
    grid-column:1/3;
    margin-left:20px;
    position:fixed;
    width:100%;
    height:100px;
    background-color: rgb(235, 226, 240);
    z-index:2;
    margin-top:0;
}

.Title h1{
    margin-top: 20px;

}

.Message{
    position: absolute;
    top:200px;
}

.Sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
    display:grid;
    grid: 75px 75px 75px /150px;
    /* align-items:start;
    justify-self:start; */
    margin-left:20px;
    /* background-color: turquoise; */
    align-items: start;
    margin-top:125px;
    position:fixed;
}

.Sidebar button{
    border:none;
    background-color: slateblue;
    color:white;
    font-size: 20px;
    border-radius:30px;
    padding:20px;
}


.Sidebar button:hover{
    background-color: white;
    color:slateblue;
    cursor: pointer;
}

.Sidebar button:focus{
    outline: none;
    border:none;
}

.Content{
    grid-row:2/3;
    grid-column:2/3;
}
 
.User{
    display:grid;
    grid-gap:20px;
    grid-template-rows: 200px auto;
}
  

.UserInfo{
    display:grid;
    grid-template-rows:auto;
    grid-template-columns: 40% 60%;
}

.UserLabels{
    display:grid;
    justify-items: start;
    margin:10px 10px 10px 50px;
    grid-template-rows:repeat(4,50px);
    align-items: center;
}

.UserLabels input{
    align-self:start;
    color:orangered;
    font-size:20px;
    border:none;

}

.UserPhoto{
    display:grid;
    justify-items:start;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 30% 70%;
    margin:10px 10px 10px 50px;
    align-items:start;
}

.UserPhoto button{
    width:auto;
    background-color: slateblue;
    border-radius: 3px;
    padding: 5px 8px;
    border: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color:white;
    font-size: 10pt;
    grid-row:2/3;
    grid-column:2/3;
    margin-top:10px;
}


.Image{
    grid-row:1/3;
    grid-column: 1/2;
}

.Image img{
    width:125px;
}

.Loading{
    margin-left:120px;
}

.Projects{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
}

textarea{
    font-size:20px;
    border:none;
    color:orangered;
}
.ChooseFile{
    font-size: 20px;
}

.ChooseFile::-webkit-file-upload-button {
    visibility: hidden;
  }
  .ChooseFile::before {
    content: 'Change Photo';
    display: inline-block;
    background: slateblue;
    /* border: 1px solid #999; */
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color:white;
    font-size: 10pt;
    margin-right:20px;
  }

  .ChooseFile::before:hover {
    background-color: white;
    color:slateblue;
  }

  .ChooseFile{
      margin-top:90px;
  }

  .ChooseFile:focus{
      outline:none;
  }

  input[type='file'] {
    margin-right:20px;
  }

  .UserSummary{
      display:grid;
      grid-template-rows: 50px auto;
      margin:10px 10px 10px 50px;
      justify-items: start;
  }

  .UserSummary label{
      align-self:center;
  }

.ChangesToPerson button{
    border:none;
    background-color: slateblue;
    color:white;
    font-size: 20px;
    border-radius:30px;
    padding:20px;
    position:absolute;
    bottom:10px;
    right:10px;
    cursor: pointer;
    box-shadow: 1px 2px black;
    margin: 4px 10px 4px 10px;
}

.ChangesToPerson button:hover{
    outline:none;
    background-color: white;
    color:slateblue;

}

.ChangesToPerson button:focus{
    outline:none;
    box-shadow: 2px 4px black;
    margin: 6px 10px 2px 10px;

}
