.ProjectsContainer{
    display:grid;
}

.Project{
    display:grid;
    grid-template: 300px/ 1fr 1fr;
}

.ProjectPhoto{
    max-width:250px;
    grid-row: 1/2;
    grid-column:2/3;
    max-height:98%;
}