.NewUser {
    display:flex;
    height:100%;
    justify-content: space-between;
    width:100%;
}
.LeftSide{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-basis:60%;
}

.LeftSide input{
    font-size: 20px;
}

.ChooseFile{
    display:none;
    font-size:15px !important;
    width:200px;
}

.CustomFileUpload{
    display:inline-block;
    background-color: grey;
    color:white;
    font-size:15px;
    padding:5px;
    border-radius:5px;
    
}

.CustomChooseFileContainer{
    display:flex;
    width:100%;
    justify-content:space-between;
}
.CustomChooseFileContainer div{
    text-align: center;
}

.LeftSide button{
    background-color: grey;
    color:white;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    padding:5px;
}

.NewUser img{
    width:80%;
    height: auto;
}

.RightSide{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex:1;
    width:150px;
}

.AddPerson{
    width:100px;
    margin-left:150px;
    background-color: orangered;
    color:white;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    padding:5px;
    box-shadow: .5px 1px black;
    margin: 4px 10px 4px 10px;
}


.AddPerson:hover{
    background-color: aqua;
    color:orangered;
    cursor: pointer;
}

.AddPerson:focus{
    outline:0;
    box-shadow: 1px 2px black;
    margin: 6px 10px 2px 10px;
}

